// Cart

.cart-preview {
  display: float-right;
  background: white;
}
.cart-preview.active {
  display: block;
  position: absolute;
  top: 48px;
  right: 0;
  width: 360px;
  height: 388px;

}

.action-block {
  background: white;
  position: absolute;
  bottom: 0;
  padding: 16px;
  width: 100%;
  button {
    background: primary-orange;
    display: block;
    width: 100%;
    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}
.empty-cart {
  text-align: center;
  img {
    width: 100%;
    max-width: 250px;
    margin: 42px auto 16px auto;
  }
  h2 {
    color: gray-light;
    font-size: 18px;
  }
}
.cart-items {
  height: 320px;
  width: 360px;
}
.cart-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 8px;
  .product-image {
    width: 48px;
    height: 48px;
  }
  .product-info {
    margin-left: 16px;
    flex-grow: 1;
    .product-name {
      color: gray-light;
      font-size: 14px;
    }
    .product-price {
      color: gray-light;
      font-weight: 700;
      &:before {
        content: "$ ";
      }
    }
  }
  .product-total {
    margin-left: 16px;
    .quantity {
      color: gray-light;
      font-size: 14px;
      text-align: right;
    }
    .amount {
      color: gray-dark;
      font-weight: 700;
      text-align: right;
      &:before {
        content: "$ ";
      }
    }
  }
  .product-remove {
    margin-left: 24px;
    height: 24px;
    line-height: 24px;
    width: 24px;
    font-size: 22px;
    color: gray-eighty;
    text-align: center;
    &:hover {
      color: red;
    }
  }
  &:hover {
    background: green-light-bg;
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  10%,
  20% {
    transform: scale3d(0.8, 0.66, 0.66) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.tada {
  animation-name: tada;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
