
.teaImage {
	width: 22%;
	display: inline-block;
}

.teaName {
	display: inline-block;
}

.teaPrice {
	display: inline-block;
}

.card-text {
	line-height: 100%;
}

.block {
	display: block;
	line-height: 200%;
}

.align-center {
	text-align: center;
}

.list-group-item-action {
	position: relative;
}

.btn .buyit {
	top:30%;
	flex: center;
}

input {
	width:40%;
}

.row .article {
  display: flex;
  align-items: center;
  height: 120px;
  background: white;
}

.Item-1 {
  height: 80px;
  margin: 0px;
}

.Item-2 {
  height: 80px;
  margin: 0px;
}

.Item-3 {
  height: 22px;
  margin-top: 0px;
}

.backgroundImage {
	background-image: url('https://images.unsplash.com/photo-1492778297155-7be4c83960c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
	background-size: cover;
	background-position: center;
	height: 500px;
	margin-bottom: 48px;
	margin-bottom: 3rem;
}