
.teaImage {
	width: 15%;
	display: inline-block;
}

.teaName {
	display: inline-block;
}

.teaPrice {
	display: inline-block;
}

.card-text {
	line-height: 100%;
}

.block {
	display: block;
	line-height: 200%;
}

.align-center {
	text-align: center;
}